<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
        Hello World
      </ion-card-header>
      <ion-card-content>
        Welcome to the App
      </ion-card-content>
    </ion-card>
  
      <ion-card>
        <ion-card-header>
          Hello World
        </ion-card-header>
        <ion-card-content>
          Welcome to the App
        </ion-card-content>
      </ion-card>
 
        <ion-card>
          <ion-card-header>
            Hello World
          </ion-card-header>
          <ion-card-content>
            Welcome to the App
          </ion-card-content>
        </ion-card>
    
          <ion-card>
            <ion-card-header>
              Hello World
            </ion-card-header>
            <ion-card-content>
              Welcome to the App
            </ion-card-content>
          </ion-card>
   
            <ion-card>
              <ion-card-header>
                Hello World
              </ion-card-header>
              <ion-card-content>
                Welcome to the App
              </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                  Hello World
                </ion-card-header>
                <ion-card-content>
                  Welcome to the App
                </ion-card-content>
              </ion-card>
              <ion-card>
                  <ion-card-header>
                    Hello World
                  </ion-card-header>
                  <ion-card-content>
                    Welcome to the App
                  </ion-card-content>
                </ion-card>
                 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                        <ion-fab-button class="position-fab" color="success">
                          <ion-icon class="icon-size" name="add"></ion-icon>
                          </ion-fab-button>
                        </ion-fab>

</ion-content>
                      